@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
   font-family: "Roboto", sans-serif;
}

html body {
  width: 100vw;
  height: 100vh;
  background: rgb(245, 245, 245);
  margin: auto;
  overflow-x: hidden;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

header {
  display: flex;
  padding: 16px;
  align-items: center;
  justify-content: space-around;
}

header nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

header nav ul li {
  list-style: none;
}
header nav ul li a {
  font-size: 16px;
  font-weight: 400;
}

.headerbtn {
  color: white;
  font-size: 16px;
  padding: 8px;
  border: none;
  border-radius: 4px;
  background-color: #30b868;
}
.logo-box{
    width: 100px;
    height: 50px;
}
.logo-box img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}
.hero-section{
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    align-items: center;
    height: 90vh;
    background-image: url(/asstes/hero-img.png);
}
.badge{
    width: 250px;
    height: 40px;
    padding: 10px;
    color: #30b868;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 20px;
}
.circle{
    width: 12px;
    height: 12px;
    border-radius:100%;
    background-color: #30b868;
}
.hero-section h1{
    color: white;
    font-weight: 900;
    font-size: 4rem;
    line-height: 90%;
}
.hero-para{
    color: white;
    line-height: 24px;
    font-size: 16px;
}
.herobtn1{
    width: 200px;
    border-radius: 6px;
    padding: 14px;
    font-size: 15px;
    background-color: #30b868;
    color: white;
    border: none;
}
.herobtn2{
    width: 200px;
    border-radius: 6px;
    padding: 14px;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    font-size: 15px;
}
.btn-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}
.card-section{
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    align-items: center;
    padding: 32px;
    text-align: center;
}
.box-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 28px;
}
.box{
    width: 280px;
    height: 280px;
    border-radius: 8px;
    border: 0.5px solid #e8e8e8;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding: 12px;
}
.box>h1{
    font-size: 24px;
}
.box>p{
    font-size: 16px;
    color: gray;
}
.round{
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    background-color: #F95555;
}
.round img{
    object-fit: contain;
    object-position: center;
}
.upper-box-content{
    padding: 32px;
    margin-bottom: 16px;
    margin-top: 16px;
}
.upper-box-content>h1{
    font-size: 48px;
    font-weight: 700;
}
.upper-box-content>p{
    font-size: 16px;
    color: gray;
    margin-top: 8px;
}
.brain-section{
    width: 80%;
    height: auto;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
    margin-top: 40px;
    margin-bottom: 40px;
}
.img-side{
    width: 70%;
    height: auto;
    padding: 44px;
}
.img-side>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.text-side{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.text-side>h3{
    color: #30b868;
    font-size: 16px;
}
.text-side>p{
    color: gray;
    width: 80%;
}
.text-side>h1{
    font-size: 48px;
}
.order-box{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 8px;
    margin-top: 12px;
}
.order-box>p{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
}
.more-section{
    width: 80%;
    margin: auto;
    background-color: #ebede8;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 12px;
    padding: 80px;
    border-radius: 12px;
}
.more-section>button{
    width: 200px;
    height: 50px;
    border-radius: 6px;
    background-color: #30b868;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    color: white;
    border: none;
}
.more-section>h1{
    font-size: 40px;
    font-weight: 700;
}
.more-section>p{
    width: 50%;
    text-align: center;
    color: gray;
}