@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
   font-family: "Roboto", sans-serif;
}

html body {
  width: 100vw;
  height: 100vh;
  background: rgb(245, 245, 245);
  margin: auto;
  overflow-x: hidden;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

header {
  display: flex;
  padding: 16px;
  align-items: center;
  justify-content: space-around;
}

header nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

header nav ul li {
  list-style: none;
}
header nav ul li a {
  font-size: 16px;
  font-weight: 400;
}

.headerbtn {
  color: white;
  font-size: 16px;
  padding: 8px;
  border: none;
  border-radius: 4px;
  background-color: #30b868;
}
.logo-box{
    width: 100px;
    height: 50px;
}
.logo-box img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}
.hero-section{
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    align-items: center;
    height: 90vh;
    background-image: url(/asstes/hero-img.png);
}
.badge{
    width: 250px;
    height: 40px;
    padding: 10px;
    color: #30b868;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 20px;
}
.circle{
    width: 12px;
    height: 12px;
    border-radius:100%;
    background-color: #30b868;
}
.hero-section h1{
    color: white;
    font-weight: 900;
    font-size: 4rem;
    line-height: 90%;
}
.hero-para{
    color: white;
    line-height: 24px;
    font-size: 16px;
}
.herobtn1{
    width: 200px;
    border-radius: 6px;
    padding: 14px;
    font-size: 15px;
    background-color: #30b868;
    color: white;
    border: none;
}
.herobtn2{
    width: 200px;
    border-radius: 6px;
    padding: 14px;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    font-size: 15px;
}
.btn-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}