* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html body {
  width: 100vw;
  height: 100vh;
  background: rgb(245, 245, 245);
  margin: auto;
}

header {
  display: flex;
  padding: 16px;
  align-items: center;
  justify-content: space-around;
}

header nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

header nav ul li {
  list-style: none;
}
header nav ul li a {
  font-size: 16px;
  font-weight: 400;
}

.headerbtn {
  color: white;
  font-size: 16px;
  padding: 8px;
  border: none;
  border-radius: 4px;
  background-color: #30b868;
}
.logo-box{
    width: 100px;
    height: 50px;
}
.logo-box img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}